[Unit]
Description=Run cock-monitor WG every 5 minutes
Documentation=file:///opt/cock-monitor/README.md

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
Unit=cock-monitor-wg.service

[Install]
WantedBy=timers.target
